.callback {
    background: $dark-blue;
    padding: 56px 0;
    p {
        max-width: 380px;
        margin: 15px 0 40px 0;
        color: #FFFFFF;
    }
    &__img {
        padding-left: 80px;
        padding-top: 20px;
        img {
            width: 450px;
            object-fit: contain;
        }
    }
}
@media (max-width: 1200px) {
    .callback {
        &__img {
            margin-top: 50px;
            padding: 0;
            img {
                width: 100%;
                max-width: 500px;
            }
        }
    }
}
@media (max-width: 576px) {
    .callback {
        padding: 42px 0 48px 0;
        &__img {
            position: relative;
            top: -104px
        }
        .btn {
            position: relative;
            top: 200px;
        }
    }
}