.advantages {
    padding: 65px 0 37px 0;
    &__item {
        margin-bottom: 15px;
        max-width: 90%;
        &__icon {
            margin-bottom: 15px;
        }
        &__title {
            font-family: 'Exo 2';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 6px;
        }
        &__text {
            margin: 0;
            font-size: 15px;
            color: #767676;
        }
    }
}
@media (max-width: 576px) {
    .advantages {
        padding: 40px 0 10px 0;
        &__item {
            &__title {
                font-size: 16px;
                line-height: 19px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
}