.clients {
    padding: 67px 0;
    background: #fff;
    &__text {
        margin-bottom: 70px;
    }
    &__item {
        margin-bottom: 15px;
        img {
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 992px) {
    .clients {
        &__text {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 768px) {
    .clients {
        iframe {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 576px) {
    .clients {
        padding: 34px 0;
    }
}